.title-image{
  width: 600px;
  height: 500px;
}
.navbar{
  background-color: #B8E8FC;
}
.container-fluid{
  padding: 3% ;
}
.about{
  text-align: center;
}
h1{
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 20px;
}
h2{
  font-family: "Montserrat-thin";
  line-height: 1.5;


}
h6{
  font-family: "Montserrat-thin";
  margin-top: 30px;

}
h3{
  font-family: "Montserrat-thin";
  font-weight: bold;
  font-size: 1rem;


}
.about{
  padding-top: 55px;
  padding-bottom: 20px;
}
.card{
  text-align: center;
}

#pricing{
  text-align: center;
}
.deal-of-day{

  font-family: sans-serif;
}

.stock{
  color: #00ABB3;
  font-size: 30px;
}
#pricing{
  padding: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
}
.card-image{
  width: 10rem;
}
.price{
  font-family: fantasy;
  font-size: 1rem;
  color: #0D4C92;

}
.card-body{
  text-align: left;
  color: #00ABB3;
}
.protien-name{
  color: black;
}
#pricing1{
  padding: 100px;
  padding-top: 0rem;

}

.footer-icon{
  margin: 20px 10px;
}
#footer1{
  text-align: center;
}
.footer-icon{
  margin: 20px 10px;
}

#press{
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{

  margin: 20px 20px 50px;
}

#testimonials{
  text-align: center;
}
.testimonial-image{
  width: 80rem;
  margin: 20px;
}
.deal-of-day{
  text-align: center;
}
.stock{
  text-align: center;
}



/* footer */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
